<!DOCTYPE html>
<html>
<head>
	<title>Customer List</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
<a href="/admin">Back</a>|
	<a href="/login">Logout</a><br>


<table class="table">
  <thead class="thead-light table-hover table-bordered">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Customer Id</th>
      <th scope="col">Customer Name</th>
      <th scope="col">Customer Email</th>
      <th scope="col">Customer Password</th>
      <th scope="col">Customer PhoneNo</th>
    </tr>
  </thead>
  <tbody>
  	<% for(var i=0; i < customerlist.length; i++){ %>
		<tr>
			<td><%= customerlist[i].user_id %></td>
			<td><%= customerlist[i].user_name %></td>
			<td><%= customerlist[i].user_email %></td>
			<td><%= customerlist[i].user_password %></td>
			<td><%= customerlist[i].user_phoneno %></td>
			<td>
				<a href="/admin/edit_customer/<%= customerlist[i].user_id %>">EDIT</a> |
				<a href="/admin/edit_customer/<%= customerlist[i].user_email %>">Deactive</a> | 
				
			</td>
		</tr>
	<%  } %>
  </tbody>
</table>
	

</body>
</html>



<!-- <div>
			<h2>Customer List</h2> 		
	</div>

	<a href="/admin">Back</a>|
	<a href="/login">Logout</a><br>

	<table border="1">
		<tr>
			<td>Customer Id</td>
			<td>Customer Name</td>
			<td>Customer Email</td>
			<td>Customer Password</td>
			<td>Customer PhoneNo</td>
		</tr>
	<% for(var i=0; i < customerlist.length; i++){ %>
		<tr>
			<td><%= customerlist[i].user_id %></td>
			<td><%= customerlist[i].user_name %></td>
			<td><%= customerlist[i].user_email %></td>
			<td><%= customerlist[i].user_password %></td>
			<td><%= customerlist[i].user_phoneno %></td>
			<td>
				<a href="/admin/edit_customer/<%= customerlist[i].user_id %>">EDIT</a> |
				<a href="">Deactive</a> | 
				
			</td>
		</tr>
	<%  } %>
	</table> -->